default_install_hook_types: [pre-commit, prepare-commit-msg]
ci:
  autofix_commit_msg: ':rotating_light: auto fix by pre-commit hooks'
  autofix_prs: true
  autoupdate_branch: main
  autoupdate_schedule: monthly
  autoupdate_commit_msg: ':arrow_up: auto update by pre-commit hooks'

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.318
  #   hooks:
  #     - id: pyright

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        stages: [pre-commit]
